@using HRProject.UI.Areas.SiteManagement.Models;
@model List<UserVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/SiteManagement/Views/Shared/_LayoutSiteManagement.cshtml";
}

<style>
    .card-img {
        width: 150px;
        height: 150px;
        object-fit: cover;
    }

    .card-text {
        margin-bottom: 10px;
    }
</style>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">User Detay</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="exampleModalCenterBody">
                <table class="table table-hover table-bordored">
                    <thead>
                        <tr>
                            <th>FullName</th>
                            <th>Mail</th>
                            <th>Phone</th>
                            <th>Address</th>
                            <th>Job</th>
                            <th>Department</th>
                        </tr>
                    </thead>
                    <tbody id="tablo">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@foreach (UserVM item in Model)
{
    <div class="card mt-4 mx-4">
        <div class="row no-gutters">
            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <img src="/Content/assets/img/avatars/@item.PhotoURL" class="card-img rounded-circle" alt="User Image">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@item.FullName</h5>
                    <p class="card-text"><strong>Email:</strong> @item.EmailAddress</p>
                    <p class="card-text"><strong>Telefon:</strong> @item.PhoneNumber</p>
                    <p class="card-text"><strong>Adres:</strong> @item.Address</p>
                    <p class="card-text"><strong>Meslek:</strong> @item.Job</p>
                    <p class="card-text"><strong>Departman:</strong> @item.Department</p>
                    <button class="btn btn-primary btnDetail" value="@item.ID" data-toggle="modal" data-target="#exampleModalCenter">Details</button>
                    <a href="#" class="btn btn-secondary">Güncelle</a>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('.btnDetail').click(function () {
                var id = $(this).val();

                $.ajax({
                    url: "/SiteManagement/SiteManagement/Detail/" + id,
                    type: "GET",
                    success: function (response) {
                        $('#tablo').html('');
                        $.each(response, function (index, item) {
                            $('#tablo').append('<tr></tr>')
                        });
                        $('#exampleModalCenter').modal('show');
                    },
                    error: function () {

                    }
                });
            });
        });

    </script>
}

@*<div class="card mt-4 mx-4">
    <div class="table-responsive text-nowrap">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Photo</th>
                    <th>FullName</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Job</th>
                    <th>Department</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @{
                    int rowCount = 1;
                }
                @foreach (UserVM item in Model)
                {
                    <tr>
                        <th>@rowCount</th>
                        <td>
                            <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                                <li data-bs-toggle="tooltip"
                                data-popup="tooltip-custom"
                                data-bs-placement="top"
                                class="avatar avatar-xs pull-up"
                                title="Lilian Fuller">
                                    <img src="/Content/assets/img/avatars/@item.PhotoURL" alt="Avatar" class="rounded-circle" />
                                </li>
                            </ul>
                        </td>
                        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@item.FullName</strong></td>
                        <td>@item.EmailAddress</td>
                        <td>@item.PhoneNumber</td>
                        <td>@item.JobID</td>
                        <td>@item.Department</td>
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt me-1"></i> Update</a>
                                    <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Details</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    rowCount++;
                }
            </tbody>
        </table>
    </div>
</div>*@
